<div class="container mt-5">
  <div class="row d-flex justify-content-center flex-column align-items-center">
    <div class="col-lg-6">
      <h1 class="text-white-50">
        <a href="https://www.almanac.com/content/when-is-easter" class="text-decoration-none" target="_blank">
          PassePartout!
        </a>
      </h1>
      <div class="row mt-5">
        <!-- <app-login *ngSwitchCase="0" (event)="eventHandler($event)"></app-login>
        <app-register *ngSwitchCase="1" (event)="eventHandler($event)"></app-register>
        <app-update *ngSwitchDefault></app-update> -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
